@use "variables" as *;

@media (max-width: 900px) {
    // flex display column, remove big pics, hamburger menu
    img{
        box-shadow: none;
    }
    .ourContact, .discoverBox1, .profileContainer, .gallery, .monthProfile,.underSea {
        flex-direction: column;
        height: auto;
    }
    .discoverBox2{
        flex-direction: column-reverse;
    }
    .goldfish, .heroImage {
        display: none;
    }
    .connectionsSub  {
        flex-direction: row;
        height: auto;
    }
    .banner {
        height: 50vh;
    }
    h1{
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    body {
        width:100%;
    }
    // .monthProfile
    header { 
        height: 50vh;
        
    }
    .discoverImage1 {
        position: relative;
        top: 0px;
        left: -30px;
      }

    .gallery{
        img {
            padding: 10px;
          }
    }
    .contactComments{
        width: 100%;
        position: unset;
        padding: 0 0px 0 45px;
    }
    .ourContact {
        margin: 0 20%;
    }
    .blog header {
        height: 35vh;
    }
    aside {
        img{
            display: none;
        }
    }
}